.mt-1 {
    margin-top: $spacing-small;
  }

.mt-2 {
    margin-top: $spacing-medium;
}

.mt-3 {
    margin-top: $spacing-large;
}

.mb-1 {
    margin-bottom: $spacing-small;
}

.mb-2 {
    margin-bottom: $spacing-medium;
}

.mb-3 {
    margin-bottom: $spacing-large;
}

.text-primary {
    color: $primary-color;
}

.text-secondary {
    color: $secondary-color;
}