// Footer.scss
@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';
@import 'src/styles/typography.scss';
@import 'src/styles/utilities.scss';

.footer {
  background-color: $secondary-color;
  padding: $spacing-medium;
  text-align: center;

  .footer-content {
    @include responsive-grid;
    justify-items: center;

    .footer-section {
      h4 {
        @extend h2;
        margin-bottom: $spacing-small;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: $spacing-small;
        }

        a {
          color: $text-color;
          text-decoration: none;

          &:hover {
            color: $primary-color;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-bottom {
    margin-top: $spacing-medium;
    font-size: $font-size-small;
    color: $text-color-secondary;
  }
}