// Footer.scss
@import '../styles/variables';

.footer {
  padding: $spacing-medium;
  background-color: $secondary-color;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;

  .content-guidelines,
  .moderation-policy {
    margin-bottom: $spacing-medium;

    h4 {
      margin-bottom: $spacing-small;
    }

    p {
      margin-bottom: $spacing-small;
    }
  }

  p {
    margin-bottom: $spacing-small;
  }
}