// Footer.scss
@import '../styles/variables';

.footer {
  padding: $spacing-medium;
  background-color: $secondary-color;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;

  p {
    margin-bottom: $spacing-small;
  }
}