// LeaderboardTable.scss

@import '../styles/variables';

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: $spacing-large;

  th,
  td {
    padding: $spacing-medium;
    text-align: left;
    border-bottom: 1px solid $border-color;
  }

  th {
    font-weight: bold;
    background-color: $secondary-color;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: $background-color;
  }

  tr:hover {
    background-color: darken($background-color, 5%);
  }
}